@font-face {
  font-family: "Arial";
  src: url("./assets/fonts/ArialMT.eot");
  src: local("Arial"), local("ArialMT"),
    url("./assets/fonts/ArialMT.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/ArialMT.woff2") format("woff2"),
    url("./assets/fonts/ArialMT.woff") format("woff"),
    url("./assets/fonts/ArialMT.ttf") format("truetype"),
    url("./assets/fonts/ArialMT.svg#ArialMT") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("./assets/fonts/Arial-Lgt.eot");
  src: local("Arial-Lgt"),
    url("./assets/fonts/Arial-Lgt.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Arial-Lgt.woff2") format("woff2"),
    url("./assets/fonts/Arial-Lgt.woff") format("woff"),
    url("./assets/fonts/Arial-Lgt.ttf") format("truetype"),
    url("./assets/fonts/Arial-Lgt.svg#Arial-Lgt") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("./assets/fonts/Arial-Mdm.eot");
  src: local("Arial-Mdm"),
    url("./assets/fonts/Arial-Mdm.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Arial-Mdm.woff2") format("woff2"),
    url("./assets/fonts/Arial-Mdm.woff") format("woff"),
    url("./assets/fonts/Arial-Mdm.ttf") format("truetype"),
    url("./assets/fonts/Arial-Mdm.svg#Arial-Mdm") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("./assets/fonts/Arial-BoldMT.eot");
  src: local("Arial Bold"), local("Arial-BoldMT"),
    url("./assets/fonts/Arial-BoldMT.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Arial-BoldMT.woff2") format("woff2"),
    url("./assets/fonts/Arial-BoldMT.woff") format("woff"),
    url("./assets/fonts/Arial-BoldMT.ttf") format("truetype"),
    url("./assets/fonts/Arial-BoldMT.svg#Arial-BoldMT") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"),
    url("./assets/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Light.woff") format("woff"),
    url("./assets/fonts/Roboto-Light.ttf") format("truetype"),
    url("./assets/fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Black.eot");
  src: local("Roboto Black"), local("Roboto-Black"),
    url("./assets/fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Roboto-Black.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Black.woff") format("woff"),
    url("./assets/fonts/Roboto-Black.ttf") format("truetype"),
    url("./assets/fonts/Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("./assets/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Bold.woff") format("woff"),
    url("./assets/fonts/Roboto-Bold.ttf") format("truetype"),
    url("./assets/fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("./assets/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Medium.woff") format("woff"),
    url("./assets/fonts/Roboto-Medium.ttf") format("truetype"),
    url("./assets/fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Thin.eot");
  src: local("Roboto Thin"), local("fonts/Roboto-Thin"),
    url("./assets/fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Roboto-Thin.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Thin.woff") format("woff"),
    url("./assets/fonts/Roboto-Thin.ttf") format("truetype"),
    url("./assets/fonts/Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"),
    url("./assets/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Regular.woff") format("woff"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype"),
    url("./assets/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dancing Script";
  src: url("./assets/fonts/DancingScript-Regular.eot");
  src: local("Dancing Script Regular"), local("DancingScript-Regular"),
    url("./assets/fonts/DancingScript-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/DancingScript-Regular.woff2") format("woff2"),
    url("./assets/fonts/DancingScript-Regular.woff") format("woff"),
    url("./assets/fonts/DancingScript-Regular.ttf") format("truetype"),
    url("./assets/fonts/DancingScript-Regular.svg#DancingScript-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dancing Script";
  src: url("./assets/fonts/DancingScript-Bold.eot");
  src: local("Dancing Script Bold"), local("DancingScript-Bold"),
    url("./assets/fonts/DancingScript-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/DancingScript-Bold.woff2") format("woff2"),
    url("./assets/fonts/DancingScript-Bold.woff") format("woff"),
    url("./assets/fonts/DancingScript-Bold.ttf") format("truetype"),
    url("./assets/fonts/DancingScript-Bold.svg#DancingScript-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dancing Script";
  src: url("./assets/fonts/DancingScript-Medium.eot");
  src: local("Dancing Script Medium"), local("DancingScript-Medium"),
    url("./assets/fonts/DancingScript-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/DancingScript-Medium.woff2") format("woff2"),
    url("./assets/fonts/DancingScript-Medium.woff") format("woff"),
    url("./assets/fonts/DancingScript-Medium.ttf") format("truetype"),
    url("./assets/fonts/DancingScript-Medium.svg#DancingScript-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dancing Script";
  src: url("./assets/fonts/DancingScript-SemiBold.eot");
  src: local("Dancing Script SemiBold"), local("DancingScript-SemiBold"),
    url("./assets/fonts/DancingScript-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/DancingScript-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/DancingScript-SemiBold.woff") format("woff"),
    url("./assets/fonts/DancingScript-SemiBold.ttf") format("truetype"),
    url("./assets/fonts/DancingScript-SemiBold.svg#DancingScript-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("./assets/fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Bold.woff") format("woff"),
    url("./assets/fonts/Montserrat-Bold.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./assets/fonts/MyriadPro-Regular.eot");
  src: local("Myriad Pro Regular"), local("MyriadPro-Regular"),
    url("./assets/fonts/MyriadPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/../fonts/MyriadPro-Regular.woff2") format("woff2"),
    url("./assets/fonts/MyriadPro-Regular.woff") format("woff"),
    url("./assets/fonts/MyriadPro-Regular.ttf") format("truetype"),
    url("./assets/fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./assets/fonts/MyriadPro-Light.eot");
  src: local("Myriad Pro Light"), local("MyriadPro-Light"),
    url("./assets/fonts/MyriadPro-Light.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/MyriadPro-Light.woff2") format("woff2"),
    url("./assets/fonts/MyriadPro-Light.woff") format("woff"),
    url("./assets/fonts/MyriadPro-Light.ttf") format("truetype"),
    url("./assets/fonts/MyriadPro-Light.svg#MyriadPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./assets/fonts/MyriadPro-Semibold.eot");
  src: local("Myriad Pro Semibold"), local("MyriadPro-Semibold"),
    url("./assets/fonts/MyriadPro-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/MyriadPro-Semibold.woff2") format("woff2"),
    url("./assets/fonts/MyriadPro-Semibold.woff") format("woff"),
    url("./assets/fonts/MyriadPro-Semibold.ttf") format("truetype"),
    url("./assets/fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./assets/fonts/MyriadPro-Bold.eot");
  src: local("Myriad Pro Bold"), local("MyriadPro-Bold"),
    url("./assets/fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/MyriadPro-Bold.woff2") format("woff2"),
    url("./assets/fonts/MyriadPro-Bold.woff") format("woff"),
    url("./assets/fonts/MyriadPro-Bold.ttf") format("truetype"),
    url("./assets/fonts/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
