:root {
  --font-family-serif: "Arial";
  --font-family-pro: "Myriad Pro";
  --font-family-monotype: "Montserrat";
  --font-family-head: "Dancing Script";
  --font-family-monospace: "Roboto";
  --text-tiny: 10px;
  --text-xs: 12px;
  --text-xs1: 13px;
  --text-sm: 14px;
  --text-sm1: 15px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-mxl: 22px;
  --text-2xl: 24px;
  --text-3xl: 25px;
  --text-mid: 28px;
  --text-4xl: 30px;
  --text-5xl: 34px;
  --text-6xl: 40px;
  --text-7xl: 45px;
  --text-mdbig: 60px;
  --text-big: 90px;

  --color-light: #ffffff;
  --color-disabled: #e5e5e5;
  --color-offwhite: #eaeaea;
  --color-themegold: #ecb06a;
  --color-gold: #fecb70;
  --color-darkpink: #e30261;
  --color-pink: #e30864;
  --color-jetblack: #282828;
  --color-blackish: #202020;
  --color-dark: #000000;
  --color-darker: #1a1a1a;
  --color-greyish: #999999;
  --color-lighter: #cbcbcb;
  --color-whitish: #f5f5f5;
  --color-nude: #f1f1f1;
  --color-nudish: #f7f7f7;
  --color-bgnude: #f6f6f6;
  --color-dusky: #827774;
  --color-grey: #919191;
  --color-darkish: #0a0a0a;
  --color-wheatish: #b0b0b0;
  --color-darkbg: #232830;
  --color-greywhite: #e8e8e8;
  --color-charcoalgrey: #9c9c9c;
  --color-duskygrey: #717171;
  --color-charcoal: #a3a3a3;
  --color-blue: #3b589e;
  --color-red: #ff0000;
  --color-pink1: #d13167;
  --color-pink2: #e40c67;
  --color-greyfont: #4a4a4a;
  --color-bullet: #282828;
  --color-borderlight: #b1b1b1;
  --color-borderdark: #b3b3b3;
  --color-themesky: #efefef;
  --color-textgreen: #21cba1;
  --color-icongreen: #61a638;
  --color-yellow: #ffde28;
  --color-rating: #ffc55d;
  --color-fontgreen: #39b713;
  --color-green: #15c568;
  --color-bglight: #ededed;
  --color-bglightgrey: #d5d5d5;

  --star-color: #979494;
  --star-background: #ffa838;
  --rating: 0;
}

body {
  font-family: var(--font-family-monospace);
  color: var(--color-dark);
  line-height: 1;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
a {
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  text-decoration: none;
}
a:-webkit-any-link:focus-visible {
  outline: none;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
button {
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 0px;
  outline: none !important;
  transition: all ease 0.5s;
}
.container {
  max-width: 1170px;
  padding: 0px 15px;
}

/*--------------------------------------------Home page------------------------------------*/
.header_main {
  position: relative;
}
.header_top {
  background-color: var(--color-offwhite);
  border-bottom: 1px solid var(--color-greyish);
}
.header_top_inner {
  padding: 10px 0px;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: var(--text-xs);
}
.header_top_inner p {
  margin: 0px;
}
a.gift_top {
  font-weight: bold;
  color: var(--color-darker);
}
a.gift_top:hover {
  color: var(--color-pink);
}
a.gift_top i {
  margin-right: 12px;
}
a.gift_top img {
  margin-right: 12px;
}
.header_mid {
  padding: 12px 0px;
}
.header_mid_body {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.left_logo_area {
  display: flex;
  width: 52%;
}
.header_search {
  margin-left: 80px;
  border-bottom: 1px solid var(--color-dark);
  padding: 0px 12px;
  height: 35px;
  width: 100%;
  position: relative;
}
.head_search_input {
  background: var(--color-light);
  border: none;
  box-shadow: none;
  outline: none;
  width: 90%;
  height: 34px;
  line-height: 34px;
  font-size: var(--text-sm);
  color: var(--color-dark);
}
button.head_search_btn {
  background: none;
  border: none;
  padding: 0px;
  position: absolute;
  right: 12px;
  height: 34px;
}
button.head_search_btn img {
  max-height: 18px;
  width: auto;
}
.header_search.for_mobile {
  display: none;
}
.header_icons_area {
  display: flex;
}
.open_acnt {
  color: var(--color-pink);
  display: flex;
  align-items: center;
}
.open_acnt li {
  display: inline-block;
  list-style-type: none;
  padding: 0px 10px;
}
.open_acnt li:last-child {
  padding-right: 20px;
}
.open_acnt li a {
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--color-pink);
  text-transform: uppercase;
}
.open_acnt li a:hover {
  color: var(--color-dark);
}
.uer_cart {
  display: flex;
  align-items: center;
}
.uer_cart li {
  display: inline-block;
  padding-left: 24px;
}
.userimg {
  max-height: 18px;
  width: auto;
}
.nav_bar_area {
  background-color: var(--color-dark);
  position: absolute;
  left: 0;
  right: 0;
}
#navbar_area.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  animation: slide-down 0.9s;
}
.menu_list_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu_text {
  font-size: var(--text-xs1);
  font-weight: 500;
  cursor: pointer;
  padding: 18px 0px;
}
.menu_text a {
  color: var(--color-lighter);
  text-transform: uppercase;
  position: relative;
}
.menu_text a i {
  margin-left: 15px;
  font-size: var(--text-tiny);
  transition: all 0.4s;
}
.menu_text a:before {
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--color-pink);
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}
.menu_text:hover a:before {
  width: 100%;
}
.menu_text:hover a {
  color: var(--color-pink);
}
.menu_text.active a {
  color: var(--color-pink);
}
.menu_text.active a:before {
  width: 100%;
}
.subcatagory_menu a {
  font-size: var(--text-sm);
  color: var(--color-pink2);
  text-transform: capitalize;
  font-weight: bold;
}
.subcatagory_menu {
  margin-bottom: 10px;
}
.subcatagory_menu a:before {
  display: none;
}

.dropdown_block {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: var(--color-light);
  padding: 20px 30px 13px;
  display: none;
  transition: opacity 0.4s ease;
  box-shadow: 0 2px 60px 0 rgba(227, 8, 100, 0.09);
}
.sub_menu_list {
  float: left;
  width: 220px;
  margin-bottom: 15px;
}
.sub_menu_list li {
  padding: 6px 0px;
  font-weight: 400;
}
.menu_seperator {
  width: 80%;
  height: 1px;
  background-color: var(--color-lighter);
  margin: 15px 0px;
}
.menu_text:hover .sub_menu_list li a {
  color: var(--color-greyfont);
  text-transform: capitalize;
  word-break: break-word;
}
.menu_text:hover .sub_menu_list li:hover a {
  color: var(--color-pink);
}
.sub_menu_list li a::before {
  display: none;
}

.menu_text.show_dropdown .dropdown_block {
  display: block;
  opacity: 1;
  z-index: 111;
  transition: opacity 0.4s ease;
}
.menu_text.changearrow a i {
  transform: rotate(-180deg);
}
.sub_menu_list li a:hover {
  color: var(--color-pink);
}

.sub_menu_list.brand {
  text-align: center;
  width: 180px;
}
.brand_img {
  width: 90px;
  height: auto;
  display: inline-block;
}

.banner_main {
  margin-top: 49px;
  position: relative;
}
.banner_row {
  max-height: 650px;
  width: 100%;
  position: relative;
}
.banner_row img {
  width: 100%;
  display: inline-block;
  height: 100%;
  object-fit: cover;
}
.banner_row:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 30%);
  z-index: 1;
}
.sliding_left,
.sliding_right {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
  height: 70px;
  line-height: 70px;
  width: 35px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: var(--text-md);
  color: var(--color-pink);
}
.sliding_right {
  right: 0;
  left: inherit;
}
.sliding_left:hover,
.sliding_right:hover {
  color: var(--color-light);
  background: rgba(227, 8, 100, 0.75);
}
.banner_main .carousel-indicators li {
  width: 25px;
  background-color: var(--color-pink);
}

.banner_text_area {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
  display: flex;
  align-items: center;
}
.banner_text {
  text-transform: uppercase;
  color: var(--color-dark);
}
.ds_text {
  font-family: var(--font-family-head);
  font-size: var(--text-5xl);
  text-transform: capitalize;
  margin-bottom: 6px;
}
.banner_text h5 {
  font-size: var(--text-5xl);
  font-weight: bold;
  line-height: 1;
}
.banner_text h3 {
  font-size: var(--text-7xl);
  font-weight: 900;
  line-height: 1;
}
.banner_text h6 {
  font-size: var(--text-3xl);
  font-weight: bold;
  margin-bottom: 15px;
}
a.banner_btn {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 160px;
  background-color: var(--color-light);
  color: var(--color-blackish);
  border: 1px solid var(--color-jetblack);
  font-weight: bold;
  font-size: var(--text-sm);
}
a.banner_btn:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  background-color: var(--color-dark);
  border: 1px solid transparent;
  -webkit-transform: scale(0.5, 1);
  transform: scale(0.5, 1);
}
a.banner_btn span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
a.banner_btn:hover:before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
a.banner_btn:hover {
  color: var(--color-light);
}

.shopbycategories {
  background-color: var(--color-light);
  padding: 35px 0px 40px;
  position: relative;
}
.block_heading {
  position: relative;
  text-align: center;
  font-size: var(--text-lg);
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block_heading span {
  display: inline-block;
  position: relative;
}
.block_heading_dash {
  font-weight: 300;
  font-size: var(--text-sm);
  color: var(--color-dark);
  display: inline-block;
  position: relative;
  width: 40%;
  text-align: right;
}
.block_heading_dash:before {
  content: "";
  height: 22px;
  width: 97%;
  position: absolute;
  left: 0;
  border-top: 1px dashed var(--color-dark);
  top: 45%;
}
.block_heading_dash:last-child {
  text-align: left;
}
.block_heading_dash:last-child:before {
  right: 0;
  left: inherit;
}
.block_heading_dash.popular_head_dash {
  width: 45%;
}
.category_area {
  margin: 30px 0px 35px;
}
a.category_list {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 150px;
  text-align: center;
  font-weight: bold;
  font-size: var(--text-sm);
  text-transform: uppercase;
  color: var(--color-dark);
  border: 1px solid transparent;
  transition: all ease 0.4s;
  position: relative;
  margin: 0px 4px;
  outline: none;
}
a.category_list img {
  max-height: 60%;
  width: auto;
  display: inline-block;
  padding-right: 8px;
}
a.category_list.active {
  background-color: var(--color-whitish);
  outline: none;
}
a.category_list:hover {
  background-color: var(--color-whitish);
  border: 1px solid #bab8b8;
}
.category_area .slick-dotted.slick-slider {
  margin-bottom: 0px;
}
.category_area .slick-arrow {
  color: var(--color-dark);
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  cursor: pointer;
}
.category_area .slick-arrow.fa-angle-right {
  left: inherit;
  right: -10px;
}
.category_area .slick-arrow.slick-disabled {
  color: var(--color-disabled);
}

.shop_category_row {
  width: 100%;
  display: flex;
  height: 600px;
}
.shop_category_rowleft {
  width: 60%;
  display: flex;
}
.category_toshop {
  margin: 0px 2px;
  width: 50%;
  position: relative;
  cursor: pointer;
}
.category_toshop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shop_category_rowright {
  width: calc(100% - 60%);
  flex-direction: column;
}
.shop_category_rowright .category_toshop {
  height: calc(100% / 2);
  width: 100%;
}
.shop_category_rowright .category_toshop:last-child {
  height: calc((100% / 2) - 4px);
  margin-top: 4px;
}
.category_toshop:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 72%);
  transition: all ease 0.5s;
}
.category_toshop:hover:before {
  opacity: 1;
}

.text_over_category {
  color: var(--color-light);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: none;
}
.category_toshop:hover .text_over_category {
  display: flex;
}
.sm_text_ds {
  font-family: var(--font-family-head);
  font-size: var(--text-2xl);
  margin-bottom: 6px;
}
.text_over_category h4 {
  font-size: var(--text-3xl);
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 17px;
}
a.shop_btn_sm {
  font-size: var(--text-tiny);
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  position: relative;
  text-align: center;
  height: 32px;
  line-height: 32px;
  width: 100px;
  background-color: transparent;
  color: var(--color-light);
  border: 1px solid var(--color-dusky);
}
a.shop_btn_sm span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
a.shop_btn_sm:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  background-color: var(--color-light);
  transform: scale(0.5, 1);
  -webkit-transform: scale(0.5, 1);
  border: 1px solid transparent;
}
a.shop_btn_sm:hover:before {
  opacity: 1;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}
a.shop_btn_sm:hover {
  color: var(--color-dark);
}

.deals_main_sec {
  padding-bottom: 40px;
}
.deals_main_sec .block_heading {
  text-transform: capitalize;
}
.deals_row {
  margin-top: 40px;
  height: 500px;
  position: relative;
}
.deals_head_area {
  width: 33.33%;
  background-color: var(--color-light);
  text-align: center;
  padding: 0px 15px 15px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  color: var(--color-dark);
}
.deals_head_area p {
  font-size: var(--text-sm);
  font-weight: 300;
  line-height: 22px;
}
.deals_head_area h3 {
  font-family: var(--font-family-head);
  font-size: var(--text-6xl);
  text-transform: capitalize;
  margin-bottom: 15px;
}
.deals_product {
  width: calc(100% / 3);
  max-height: 500px;
  position: relative;
  margin: 0px 2px;
  cursor: pointer;
  overflow: hidden;
  transition: all ease 0.4s;
}
.deals_product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
  position: relative;
}
.deals_overlay {
  color: var(--color-light);
  font-size: var(--text-sm);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -200px;
  transition: all ease 0.6s;
  background-color: rgba(0, 0, 0, 58%);
  padding: 25px 60px 30px;
  text-align: center;
}
.product_name {
  font-size: var(--text-sm);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
  word-break: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.prc {
  font-size: var(--text-sm);
  font-weight: 300;
  margin-bottom: 16px;
}
.deals_product:hover .deals_overlay {
  bottom: 0;
}
.deals_product a.shop_btn_sm {
  background-color: var(--color-light);
  color: var(--color-dark);
  border: 1px solid transparent;
}
.deals_product a.shop_btn_sm:hover {
  border: 1px solid var(--color-light);
  background-color: transparent;
  color: var(--color-light);
}
.deals_product a.shop_btn_sm:before {
  display: none;
}

.popular_toshow {
  margin-top: 40px;
}
.popular_box {
  display: block;
  background-color: var(--color-light);
  transition: all ease 0.4s;
  margin-bottom: 20px;
  box-shadow: 0 0 25px transparent;
}
.popular_imgbox img {
  height: 265px;
  max-height: 265px;
  object-fit: cover;
  width: 100%;
}
.popular_box:hover {
  box-shadow: 0px 0px 25px rgba(62, 62, 62, 0.42);
}
.popular_desc {
  padding: 20px 20px 15px;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.popular_desc .product_name {
  color: var(--color-dark);
  margin-bottom: 3px;
}
.popular_desc .prc {
  font-weight: 500;
  color: var(--color-dark);
  margin: 5px 0px 15px;
}
.popular_desc a.shop_btn_sm {
  border: 1px solid var(--color-grey);
  color: var(--color-darkish);
}
.popular_desc a.shop_btn_sm:before {
  background-color: var(--color-dark);
}
.popular_desc a.shop_btn_sm:hover {
  border: 1px solid transparent;
  color: var(--color-light);
}

.rating {
  line-height: 0px;
  display: inline-block;
}
.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--text-md);
  color: var(--color-themegold);
  font-family: Times;
  line-height: 1;
}
.Stars::before {
  content: "★★★★★";
  letter-spacing: 1px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gift_section {
  width: 100%;
  display: inline-block;
  background: url(./assets/images/bg.jpg) no-repeat top center;
  background-size: cover;
  padding: 40px 50px 60px 70px;
  color: var(--color-light);
  position: relative;
  overflow: hidden;
}
.gift_logo_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gift_logo_bg img {
  max-width: 70%;
  height: auto;
  display: inline-block;
}
.gift_section h5 {
  font-size: var(--text-4xl);
  font-weight: 400;
  margin-bottom: 0px;
}
.gift_section h3 {
  font-size: var(--text-7xl);
  font-family: var(--font-family-head);
  text-transform: capitalize;
  margin-bottom: 12px;
}
.gift_section p {
  font-size: var(--text-sm);
  margin-bottom: 20px;
}
.gift_text {
  position: relative;
  z-index: 9;
  width: 40%;
}
.form_gift {
  width: 100%;
  height: 42px;
  display: flex;
}
.form_gift .form-control {
  box-shadow: none;
  border: 1px solid var(--color-light);
  border-right: 1px solid transparent;
  outline: none;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  width: 72%;
  border-radius: 0px;
  padding-left: 15px;
  font-size: var(--text-sm);
  color: var(--color-dark);
}
.form_gift .form-control::placeholder {
  color: var(--color-dark);
}
.form_gift button {
  border: 1px solid var(--color-light);
  border-left: 1px solid transparent;
  background: var(--color-dark);
  display: inline-block;
  text-align: center;
  width: calc(100% - 72%);
  height: 40px;
  line-height: 40px;
  padding: 0px;
  font-size: var(--text-sm);
  color: var(--color-light);
}
.form_gift button:hover {
  border: 1px solid var(--color-pink);
  border-left: 1px solid transparent;
  color: var(--color-pink);
}
.form_gift .form-control:focus {
  border: 1px solid var(--color-pink);
  border-right: 1px solid transparent;
}
.seal_imgbox {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.seal_imgbox img {
  max-height: 38%;
  width: auto;
  display: inline-block;
  margin-left: 10px;
}
.instagram_img_area {
  padding-top: 30px;
  overflow: hidden;
}
.instagram_img_area .block_heading {
  text-transform: inherit;
}
.instagram_img_container {
  width: 100%;
  max-width: 1710px;
  margin: 0px auto;
}
.insta_row {
  margin-top: 30px;
}
a.insta_img_box {
  display: inline-block;
  position: relative;
  width: calc(100% / 5);
  transition: all 0.5s ease;
  overflow: hidden;
}
a.insta_img_box img {
  width: 100%;
  display: inline-block;
  transform: scale(1);
  transition: all 0.5s ease;
}
a.insta_img_box:hover img {
  transform: scale(1.1);
}

.service_available {
  background-color: var(--color-nude);
  padding: 25px 0px;
  margin-top: 20px;
}
.service_available .d-flex {
  justify-content: center;
}
.service_available h5 {
  font-weight: bold;
  font-size: var(--text-sm);
  text-transform: uppercase;
  color: var(--color-dark);
  margin: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 120px;
}
.facility_icon {
  margin-right: 15px;
}
.facility_icon img {
  max-width: 50px;
  height: auto;
}
.thefacility {
  text-align: left;
}
.ft_main {
  background-color: var(--color-darkbg);
}
.ft_top {
  padding: 50px 0px 30px;
}
.ft_heading {
  font-weight: bold;
  font-size: var(--text-md);
  text-transform: uppercase;
  color: var(--color-light);
  margin-bottom: 30px;
}
.ft_logo {
  margin-right: 12px;
}
.ft_about p {
  font-size: var(--text-sm1);
  font-weight: 400;
  line-height: 24px;
  color: var(--color-greywhite);
}
.ft_menu_area {
  justify-content: space-between;
}
.ft_menu_col {
  width: calc(100% / 3);
  margin-top: 10px;
}
.ft_menu_list li {
  font-weight: 300;
  font-size: var(--text-md);
  color: var(--color-light);
  margin-bottom: 16px;
}
.ft_menu_list li small {
  font-size: var(--text-md);
  word-break: break-word;
}
.ft_menu_list li a {
  color: var(--color-light);
  display: inline-block;
  transition: all 0.4s;
}
.ft_menu_list li a:hover {
  color: var(--color-pink);
}
.ft_menu_list li img {
  margin-right: 12px;
}
.ft_contact {
  margin-top: 10px;
}
.ft_address {
  display: inline-block;
  line-height: 26px;
}
.contact_icon {
  width: 35px;
  float: left;
}
.ft_address {
  width: calc(100% - 35px);
  float: right;
  word-break: break-word;
}
.ft_heading.diff {
  margin: 30px 0px 10px;
}

.social_media_list {
  margin: 0px 0px 20px;
  text-align: center;
}
.social_media_list li {
  padding-left: 15px;
  display: inline-block;
}
.social_media_list li:first-child {
  padding-left: 0px;
}
.social_media_list li a {
  color: #959595;
  font-size: var(--text-lg);
}
.social_media_list li a:hover {
  color: var(--color-pink);
}
.ft_bottom {
  padding: 30px 0px;
  border-top: 1px solid #424242;
  text-align: center;
  font-weight: bold;
  font-size: var(--text-xs);
  text-transform: uppercase;
  color: var(--color-light);
}

.pay_mode {
  align-items: center;
}
.pay_mode li {
  padding-left: 5px;
}
.pay_mode li:first-child {
  padding: 0px;
}
.pay_mode li img {
  max-width: 80%;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
@keyframes fadeInUpFast {
  from {
    transform: translate3d(0, 10px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fadeInUpFast {
  opacity: 0;
  animation-name: fadeInUpFast;
  -webkit-animation-name: fadeInUpFast;
}
.animatedfast {
  animation-duration: 0.6s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
}
.menu_bar {
  float: left;
  cursor: pointer;
  transition: all 0.4s;
}
.menubar1,
.menubar2,
.menubar3 {
  display: block;
  width: 18px;
  height: 2px;
  margin: 3px 0px;
  background: var(--color-dark);
  transition: all 0.4s;
}
.mobile_searchbar_block {
  display: none;
}
.mobile_menu_head {
  display: none;
}
.banner_main .carousel-control-next,
.banner_main .carousel-control-prev {
  z-index: 11;
  width: 35px;
}
/*-----------------------------end Home page---------------------------------*/

/*--------------------------login and registration page-----------------------------*/
.register_area {
  margin: 51px 0px 70px;
  position: relative;
  text-align: center;
}
.signup_block {
  width: 60%;
  margin: 0px auto;
  display: inline-block;
}
.signup_heading {
  font-size: var(--text-mxl);
  color: var(--color-dark);
  text-transform: uppercase;
  margin: 20px 0px;
  text-align: center;
}
.signup_form_area {
  width: 50%;
  background-color: var(--color-nudish);
  padding: 30px 0px 18px;
  text-align: center;
}
.signup_img_box {
  width: 50%;
  position: relative;
}
.signup_img_box img {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  object-fit: cover;
}
.signup_area {
  border: 1px solid var(--color-charcoalgrey);
  max-height: 700px;
  overflow: hidden;
}
.signupform_heading {
  font-weight: 400;
  font-size: var(--text-md);
  color: var(--color-dark);
  margin: 0px 0px 18px;
}
.form_signup {
  text-align: left;
  padding: 0px 30px;
}
.signup_input_area {
  display: inline-block;
  width: 100%;
  background-color: var(--color-light);
  padding: 30px 12px 0px;
  box-shadow: 0px 0px 50px 0px var(--color-offwhite);
}
.input_group {
  margin-bottom: 20px;
  position: relative;
}
.form_input {
  width: 100%;
  background-color: var(--color-light);
  box-shadow: none;
  outline: none;
  border: none;
  padding: 0px 40px 0px 0px;
  border-bottom: 1px solid var(--color-charcoal);
  height: 32px;
  line-height: 32px;
  font-size: var(--text-xs1);
  color: var(--color-greyfont);
  position: relative;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form_input:focus {
  /*box-shadow: 0 2px 0 0px rgba(227,8,100,.3);*/
  border-bottom: 1px solid rgba(227, 8, 100, 0.4);
}
.input_label {
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--color-dark);
  text-transform: capitalize;
  margin-bottom: 8px;
}
.input_label span {
  color: var(--color-pink);
  padding-left: 3px;
  display: inline-block;
}
.input_group.input_error .input_label {
  color: var(--color-red);
}
.input_group.input_error .input_label span {
  color: var(--color-red);
}
.input_group.input_error .form_input {
  border-bottom: 1px solid var(--color-red);
}
.input_group.input_error p {
  font-size: var(--text-xs1);
  color: var(--color-red);
  margin: 5px 0;
}

.input_img {
  position: absolute;
  top: 28px;
  right: 10px;
  z-index: 2;
}
.input_img.diff {
  top: 30px;
}
.input_img img {
  max-height: 17px;
  width: auto;
}
.phone_input_area {
  margin-top: 10px;
}
.form_input.phno_code {
  width: 25%;
  margin-right: 25px;
  padding: 0px;
}
button.signup_btn {
  background-color: var(--color-pink);
  border: none;
  font-weight: 900;
  font-size: var(--text-sm);
  color: var(--color-light);
  width: 100%;
  text-align: center;
  margin: 15px 0px;
}
button.signup_btn:hover {
  background-color: var(--color-dark);
}
.ask_signin {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: var(--text-sm);
  color: var(--color-pink);
}
.ask_signin a {
  color: var(--color-pink);
}
.ask_signin a:hover {
  color: var(--color-dark);
  text-decoration: underline;
}
.logo_overlap {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
}
.logo_overlap img {
  max-width: 100%;
  display: inline-block;
}
.floated_text {
  font-size: var(--text-lg);
  font-weight: 900;
  color: var(--color-light);
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  z-index: 9;
  top: 60px;
  width: 100%;
}
.info_login {
  margin: 20px 0px 10px;
}
.info_login .block_heading {
  font-size: var(--text-xs1);
  font-weight: 400;
  padding: 0px 10px;
  margin-bottom: 20px;
}
.info_login .block_heading_dash {
  width: 30%;
}
a.social_login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
  background: var(--color-blue);
  height: 36px;
  font-size: var(--text-mxl);
  color: var(--color-light);
  box-shadow: 0px 0px 30px 0px var(--color-offwhite);
}
a.social_login:hover {
  background-color: var(--color-pink);
}
a.social_login.bg_white:hover {
  background-color: var(--color-darkbg) !important;
}
.bg_white {
  background: var(--color-light) !important;
}
a.social_login img {
  max-height: 70%;
  width: auto;
}
a.social_login:last-child {
  margin-bottom: 25px;
}
.floated_text.diff {
  top: 25px;
  padding-left: 10px;
}

/*------------------------------End login and registration page------------------------------*/

/*--------------------------------profile page----------------------------------*/
.profile_container {
  width: 100%;
  display: inline-block;
}
.profile_row {
  text-align: left;
}
.profile_left_area {
  width: 280px;
  padding: 0px 15px;
}
.profile_right_area {
  width: calc(100% - 280px);
  padding: 0px 15px;
}
.profile_inner {
  border: 1px solid #9e9e9e;
  background-color: var(--color-nudish);
  padding: 0px 20px 25px;
  height: 100%;
}
.profile_side_menu_list {
  border: 1px solid var(--color-borderlight);
  box-shadow: 0px 2px 12px #e8e8e8;
  margin-bottom: 13px;
}
.profile_side_menu_list:last-child {
  margin-bottom: 0px;
}
.profile_side_menu_list li {
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 20px;
  list-style-type: none;
  transition: all ease 0.4s;
  position: relative;
  cursor: pointer;
}
.profile_side_menu_list li a img {
  margin-right: 12px;
  max-width: 17px;
}
.profile_side_menu_list li a svg {
  margin-right: 12px;
  max-width: 17px;
  height: auto;
}
.profile_side_menu_list li a svg g {
  fill: var(--color-pink2);
}
.profile_side_menu_list li a b {
  width: calc(100% - 29px);
  float: right;
}
.profile_side_menu_list li a {
  font-size: var(--text-sm);
  line-height: 20px;
  color: var(--color-pink1);
  text-transform: uppercase;
}
li.profile_sidebar_menu.active {
  background-color: var(--color-pink2);
}
li.profile_sidebar_menu.active a {
  color: var(--color-light);
}
li.profile_sidebar_menu.active a svg g {
  fill: var(--color-light);
}
.profile_sub_menu {
  border-top: 2px solid rgba(228, 12, 103, 0.5);
  padding-bottom: 15px;
}
.profile_sub_menu li {
  padding: 10px 10px 10px 30px;
  height: inherit;
  line-height: 20px;
  margin-bottom: 2px;
}
.profile_sub_menu li:before {
  content: "";
  height: 4px;
  width: 4px;
  background: var(--color-dark);
  position: absolute;
  left: 30px;
  top: 18px;
}
.profile_sub_menu li a {
  color: var(--color-greyfont);
  font-weight: 400;
  text-transform: capitalize;
  padding-left: 20px;
}
.profile_sub_menu li:hover,
.profile_sub_menu li.active {
  background-color: var(--color-pink2);
}
.profile_sub_menu li:hover a,
.profile_sub_menu li.active a {
  color: var(--color-light);
}
.profile_sub_menu li:hover:before,
.profile_sub_menu li.active:before {
  background: var(--color-light);
}
.profile_head {
  padding: 12px 0px;
}
.profile_head h4 {
  font-size: var(--text-xl);
  font-weight: bold;
  color: var(--color-dark);
  text-transform: capitalize;
  margin: 0px;
}
.profile_user {
  font-size: var(--text-sm);
  color: var(--color-dark);
  text-align: right;
}
a.user_name {
  font-size: var(--text-lg);
  color: var(--color-pink2);
  display: block;
  margin-top: 10px;
}
a.user_name:hover {
  color: var(--color-dark);
}
a.user_img {
  margin-left: 15px;
}
a.user_img img {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  object-fit: cover;
  display: inline-block;
}
.profile_innerbox {
  background-color: var(--color-light);
  padding: 22px 22px 25px;
  box-shadow: 0px 0px 25px #e8e8e8;
}
.form_userprofile .input_group {
  margin-bottom: 20px;
}
.form_userprofile .form_input {
  background-color: var(--color-light);
  padding-left: 10px;
}
.form_input.uneditable {
  background: var(--color-nude);
}
.form_userprofile .input_label {
  padding-left: 10px;
}
.form_userprofile button.signup_btn {
  display: inline-block;
  margin: 0px;
  margin-right: 12px;
  width: 110px;
}
.width_200 {
  width: 200px !important;
}
.reset {
  background-color: var(--color-dark) !important;
}
.width_150 {
  width: 150px !important;
}
.input_radio_group {
  margin: 10px 0px 20px;
}
.user_gender {
  padding-left: 55px;
  font-size: var(--text-sm);
  color: var(--color-charcoal);
  position: relative;
  cursor: pointer;
}
.user_gender input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.user_gender .checkmark {
  position: absolute;
  top: 0;
  left: 25px;
  height: 14px;
  width: 14px;
  background: none;
  border: 1px solid var(--color-charcoal);
  border-radius: 50%;
}
.user_gender input:checked ~ .checkmark {
  border: 1px solid var(--color-pink2);
}
.user_gender .checkmark:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--color-pink2);
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
  display: none;
}
.user_gender input:checked ~ .checkmark:after {
  display: block;
}
.user_gender.whenchecked {
  color: var(--color-pink2);
}
.user_profile_img {
  position: relative;
}
.user_profile_img img {
  height: 200px !important;
  width: 200px !important;
  display: inline-block;
  object-fit: cover;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.change_dp_input {
  position: absolute;
  width: 200px;
}
.change_dp_input input[type="file"] {
  display: none;
}
.change_dp_input label {
  position: absolute;
  margin: 0px;
  height: 40px;
  width: 40px;
  bottom: -10px;
  right: -20px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.change_dp_input label:before {
  content: "";
  height: 100%;
  width: 100%;
  line-height: 40px;
  background-color: var(--color-light);
  border-radius: 100%;
  border: 1px solid var(--color-borderlight);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: var(--color-dark);
  font-size: var(--text-xs);
  position: absolute;
  z-index: 2;
  transition: all ease-in-out 0.3s;
}
.change_dp_input label i {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 22;
  color: var(--color-dark);
  transform: translate(-50%, -50%);
  font-size: var(--text-lg);
  transition: all ease-in-out 0.3s;
}
.change_dp_input label:hover:before {
  border: 1px solid var(--color-pink2);
  box-shadow: 0px 0px 20px rgba(227, 8, 100, 0.2);
}
.change_dp_input label:hover i {
  color: var(--color-pink2);
}
.displayonmobile {
  display: none;
}
.profile_image_block {
  width: 200px;
  margin: 160px auto 0px;
}
.profile_dp_col {
  padding-left: 0px;
}
/*------------------------------End profile page-------------------------------*/

/*---------------------------Search Result page--------------------------------------*/
.filter_sidebar .profile_side_menu_list li a b {
  width: inherit;
}
.page_dir {
  width: 100%;
  display: inline-block;
  font-size: var(--text-lg);
  color: #707070;
  margin: 18px 0px;
}
.page_dir a {
  color: #707070;
  font-size: var(--text-sm);
  display: inline-block;
  padding: 0px 10px;
  text-transform: capitalize;
}
.page_dir a:hover {
  text-decoration: underline;
}
.page_dir a:first-child {
  padding-left: 0px;
}
.page_dir a:last-child {
  padding-right: 0px;
}

.filter_menu {
  border-top: 2px solid rgba(228, 12, 103, 0.5);
  padding: 10px 0px;
}
.filter_menu li {
  padding: 6px 12px 6px 20px;
}
.profile_side_menu_list.open .filter_menu {
  display: block;
}
.filter_label {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: var(--text-sm);
  line-height: 22px;
  color: var(--color-greyfont);
  text-transform: capitalize;
  word-break: break-word;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter_label.whenchecked {
  color: var(--color-pink2);
}
.filter_label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.filter_label .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
}

.filter_label:hover input ~ .checkmark {
  border: 1px solid var(--color-pink2);
}

.filter_label input:checked ~ .checkmark {
  background-color: var(--color-pink2);
  border: 1px solid transparent;
}

.filter_label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter_label input:checked ~ .checkmark:after {
  display: block;
}
.filter_label .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.load_more_filters {
  font-size: var(--text-sm);
  color: var(--color-pink2);
  text-transform: capitalize;
  padding-left: 48px;
  display: block;
}
.load_more_filters:hover {
  color: var(--color-dark);
  text-decoration: underline;
}
button.refresh_filter {
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  font-size: var(--text-xs1);
  color: var(--color-dark);
  width: 150px;
}
button.refresh_filter:hover {
  border: 1px solid var(--color-pink2);
  color: var(--color-pink2);
}
.product_listing_area {
  margin-top: 15px;
}
.product_listing_area h5 {
  position: relative;
  text-align: center;
  font-size: var(--text-lg);
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.heading_dash {
  padding-left: 20px;
  font-weight: 300;
  font-size: var(--text-sm);
  color: var(--color-dark);
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: left;
}
.heading_dash:before {
  content: "";
  height: 22px;
  width: calc(100% - 30px);
  position: absolute;
  left: 31px;
  border-top: 1px dashed var(--color-dark);
  top: 46%;
}
.product_head p {
  color: #0e3c59;
  font-size: var(--text-sm);
  line-height: 22px;
  margin-bottom: 20px;
}
.search_result {
  margin-bottom: 15px;
  align-items: center;
  font-size: var(--text-sm);
  justify-content: space-between;
}
.search_result p {
  color: #8f8f8f;
}
.sort_search {
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-dark);
  padding-left: 15px;
}
.sort_search span {
  color: var(--color-greyfont);
  padding-right: 10px;
}
.search_sortby {
  border: none;
  outline: none;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}
.popular_desc.diff {
  background-color: var(--color-themesky);
  border: 1px solid transparent;
  cursor: pointer;
  transition: all ease 0.4s;
}
.popular_desc.diff a.shop_btn_sm {
  background-color: var(--color-light);
}
.mid_desc {
  font-size: var(--text-sm);
  margin: 15px 0px;
}
.mid_desc p {
  font-weight: 300;
  color: var(--color-dark);
  line-height: 16px;
  margin-bottom: 5px;
  word-break: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.popular_desc.diff .prc {
  margin: 7px 0px;
}
.prc span {
  color: var(--color-greyish);
}
span.prev_prc {
  text-decoration: line-through;
}
.popular_box.product_show {
  box-shadow: 0px 0px 10px transparent;
  margin-bottom: 30px;
  transition: all ease 0.4s;
}
.popular_box.product_show:hover {
  box-shadow: 0px 0px 10px var(--color-nude);
}
.popular_box.product_show:hover .popular_desc.diff {
  background-color: var(--color-light);
  border: 1px solid var(--color-lighter);
  border-top: 1px solid transparent;
}
.product_pages {
  justify-content: space-between;
  align-items: center;
  font-size: var(--text-xs1);
}
.page_no {
  color: var(--color-wheatish);
}
.page_nav {
  color: var(--color-grey);
  display: inline-block;
  padding: 0px 7px;
}
a.page_nav:hover {
  color: var(--color-pink2);
}
.page_nav i {
  margin: 0px 10px;
  font-size: var(--text-sm);
}
.page_nav:last-child {
  padding-right: 0px;
}
.page_nav:last-child i {
  margin-right: 0px;
}
.page_nav:first-child {
  padding-left: 0px;
}
.page_nav:first-child i {
  margin-left: 0px;
}
.pages_numbers a {
  color: var(--color-wheatish);
  padding: 4px 6px;
  display: inline-block;
  margin: 0px 4px;
  border: 1px solid transparent;
}
.pages_numbers a.avtivepage {
  color: var(--color-pink2);
  border: 1px solid var(--color-pink2);
}
.pages_numbers a:hover {
  color: var(--color-pink2);
}
.pagination_block {
  align-items: center;
}

.prc_range span {
  font-size: var(--text-sm);
  color: var(--color-greyfont);
  text-transform: capitalize;
  margin-right: 25px;
}

.custom_space {
  padding: 0px 5px;
}
.custom_row {
  margin: 0px -5px;
}

/*---------------------------end Search Result page--------------------------------------*/

/*-------------------------------Product Details page------------------------------*/
.products_dtl_row {
  padding-bottom: 20px;
}
.pr_display_box {
  background-color: var(--color-light);
  padding: 10px 10px 0px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.pr_allimages {
  background-color: var(--color-light);
  justify-content: center;
  padding: 25px 0px;
}
.pr_display img {
  max-height: 400px;
  min-height: 400px;
  object-fit: cover;
  width: 100%;
}
.pr_img_collection {
  background-color: var(--color-light);
  padding: 3px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.43);
  border-radius: 6px;
  margin-right: 12px;
  cursor: pointer;
}
.pr_img_collection img {
  max-height: 90px;
  min-height: 90px;
  object-fit: cover;
  width: 100px;
}
.item_detail {
  padding-left: 10px;
}
.item_name {
  font-size: var(--text-5xl);
  font-weight: 500;
  color: var(--color-pink2);
  margin-bottom: 12px;
}
.prc_special_tag {
  font-weight: bold;
  color: rgba(32, 32, 32, 0.8);
  margin: 0px;
}
.item_prc_block {
  font-size: var(--text-5xl);
  font-weight: 500;
  color: rgba(32, 32, 32, 0.8);
  margin: 10px 0px;
}
.item_prc_block span {
  color: var(--color-wheatish);
  display: inline-block;
  padding-left: 12px;
}
.rating_block {
  font-size: var(--text-md);
  color: var(--color-duskygrey);
}
.rating_block span {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 12px;
  background-color: var(--color-pink2);
  border-radius: 20px;
  font-size: var(--text-xl);
  color: var(--color-light);
  font-weight: bold;
  transition: all 0.3s;
}
.rating_block span svg {
  width: 12px;
  margin-right: 5px;
  vertical-align: top;
}
.rating_block span svg g {
  fill: var(--color-light);
}
.rating_block span:hover {
  background-color: var(--color-dark);
}
a.rating_block:hover {
  color: var(--color-dark);
}
.offer_for_item h6 {
  font-size: var(--text-md);
  font-weight: bold;
  color: var(--color-textgreen);
  margin: 15px 0px 6px;
  text-transform: capitalize;
}
.offers_list {
  padding: 0px;
}
.offers_list li {
  position: relative;
}
.offers_list li a.item_desc_text:before {
  content: "";
  height: 4px;
  width: 4px;
  background: var(--color-dark);
  position: absolute;
  left: -20px;
  top: 14px;
}
.offers_list li a.item_desc_text {
  width: calc(100% - 20px);
  float: right;
  position: relative;
}
.item_desc_text {
  font-size: var(--text-md);
  color: var(--color-dark);
  line-height: 30px;
}
.offers_list li:hover a.item_desc_text {
  color: var(--color-textgreen);
}
.offers_list li:hover a.item_desc_text:before {
  background: var(--color-textgreen);
}
.text_pink {
  color: var(--color-pink2) !important;
}
.item_code p {
  margin: 0px;
}
.tags_name {
  display: inline-block;
  line-height: 18px;
  padding: 5px 0px;
  background-color: var(--color-whitish);
  border: 1px solid var(--color-darker);
}
.tags_name a {
  color: var(--color-darker);
  padding: 0px 8px;
}
.tags_name a:hover {
  color: var(--color-pink2);
  text-decoration: underline;
}
.item_quantity {
  margin: 15px 0px;
  align-items: center;
}
.item_quantity span {
  display: inline-block;
  padding-right: 10px;
}
.quantity_input {
  display: flex;
}
.quantity_input input {
  background-color: var(--color-light);
  border: 1px solid var(--color-grey);
  height: 46px;
  line-height: 46px;
  font-size: var(--text-md);
  font-weight: bold;
  color: var(--color-dark);
  width: 40px;
  text-align: center;
  outline: none;
}
.custom_quantity {
  height: 50px;
}
button.btn_incr {
  background-color: var(--color-light);
  border: 1px solid var(--color-grey);
  border-left: none;
  font-size: var(--text-xs);
  height: 23px;
  line-height: 23px;
  text-align: center;
  padding: 0px 5px;
  display: block;
}
.pincode_input {
  position: relative;
  font-size: var(--text-sm);
  width: 60%;
  height: 36px;
  line-height: 36px;
}
.pincode_input input {
  background-color: var(--color-light);
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-duskygrey);
  box-shadow: none;
  width: 100%;
  position: relative;
  color: var(--color-duskygrey);
  padding: 0px 5px;
}
.pincode_input input:focus {
  border-bottom: 1px solid rgba(227, 8, 100, 0.4);
}
.pincode_input button {
  padding: 0px;
  background: none;
  border: none;
  color: var(--color-pink2);
  position: absolute;
  right: 12px;
}
.pincode_input button:hover {
  color: var(--color-dark);
}
.cart_button_block {
  width: 58%;
  display: flex;
  margin-top: 20px;
}
button.cart_btn {
  background: var(--color-light);
  font-size: var(--text-sm);
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
  width: 180px;
  text-align: center;
  margin-right: 10px;
}
button.cart_btn.addtocart {
  background: var(--color-pink2);
  color: var(--color-light);
  border: 1px solid transparent;
}
button.cart_btn:hover {
  border: 1px solid transparent;
  color: var(--color-light);
  background-color: var(--color-dark);
}

.pr_model_desc {
  margin-bottom: 5px;
  width: 100%;
  display: inline-block;
}
.pr_brf_txt {
  font-size: var(--text-sm);
  color: var(--color-greyfont);
  line-height: 26px;
}
.basic_info_zone {
  padding: 28px 50px 50px 0px;
}
.model_desc_tag b {
  float: left;
  width: 160px;
  text-transform: capitalize;
}
.model_desc_txt {
  width: calc(100% - 180px);
  float: right;
}
.text_caps {
  text-transform: uppercase;
}
.pr_brief_nav .nav {
  padding: 0px;
  border-bottom: 1px solid var(--color-pink2);
}
.pr_brief_nav .nav li {
  margin-left: 20px;
}
.pr_brief_nav .nav a.nav-link {
  font-size: var(--text-sm);
  font-weight: 900;
  color: var(--color-greyfont);
  text-transform: uppercase;
  padding: 15px 20px;
  position: relative;
  border-radius: 0px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 5px transparent;
}
.pr_brief_nav .nav a.nav-link.active {
  color: var(--color-pink2);
  background: var(--color-light);
  border-color: transparent;
  border-bottom: transparent;
  box-shadow: 0px 0px 5px rgba(227, 8, 100, 0.35);
}
.pr_brief_nav .nav a.nav-link:hover {
  border-color: transparent;
  box-shadow: 0px 0px 5px rgba(227, 8, 100, 0.35);
  color: var(--color-pink2);
}

.related_items_area .product_head {
  padding-left: 5px;
}
.product_head h5 {
  position: relative;
  text-align: left;
  font-size: var(--text-lg);
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.heading_dash.diff {
  width: calc(100% - 155px);
}
.items_to_slide {
  padding: 0px 5px;
}
.related_items_show {
  position: relative;
}
.related_items_show .slick-arrow {
  font-size: var(--text-xl);
  color: var(--color-light);
  position: absolute;
  left: -35px;
  top: 50%;
  z-index: 9;
  transform: translateY(-50%);
  cursor: pointer;
  height: 36px;
  width: 36px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: rgba(227, 8, 100, 0.65);
  border-radius: 100%;
  transition: all ease-in-out 0.3s;
}
.related_items_show .slick-arrow.fa-angle-right {
  left: inherit;
  right: -35px;
}
.related_items_show .slick-arrow:hover {
  background: rgba(0, 0, 0, 0.9);
}
.popular_desc.another {
  border: 1px solid transparent;
  cursor: pointer;
  transition: all ease 0.4s;
}
.popular_box.product_show:hover .popular_desc.another {
  background-color: var(--color-light);
  border: 1px solid var(--color-lighter);
  border-top: 1px solid transparent;
}
.cs_review_area {
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  margin-bottom: 40px;
}
.rvw_details {
  align-items: center;
}
.customer_nm_id {
  height: 44px;
  width: 44px;
  line-height: 44px;
  border-radius: 100%;
  text-align: center;
  background-color: var(--color-pink2);
  font-size: var(--text-mxl);
  font-weight: bold;
  color: var(--color-light);
  margin-right: 20px;
  text-transform: uppercase;
}
.cs_review .Stars {
  font-size: var(--text-mxl);
}
.cs_review {
  width: calc(100% - 64px);
  float: right;
}
.revw_text {
  font-size: var(--text-sm);
  color: var(--color-greyfont);
  font-weight: bold;
  margin-bottom: 14px;
}
.revw_text span {
  margin: 12px 0px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  max-width: 75%;
}
.cs_name_date {
  font-weight: 400;
}
.buyer_authentic svg {
  width: 14px;
  height: auto;
  margin-right: 6px;
}
.buyer_authentic svg g {
  fill: var(--color-icongreen);
}
.buyer_authentic {
  font-size: var(--text-xs);
  color: var(--color-wheatish);
  text-transform: capitalize;
}
.like_revw {
  margin-right: 20px;
  font-size: var(--text-sm);
  color: var(--color-charcoalgrey);
  display: inline-flex;
  align-items: center;
}
.like_revw span {
  display: inline-block;
  padding-left: 10px;
}
.like_revw svg {
  height: 24px;
  width: auto;
}
.like_revw i {
  color: var(--color-borderlight);
  font-size: var(--text-mxl);
}
.bg_ylw {
  background-color: var(--color-yellow);
}
.rvw_details {
  max-width: 70%;
}
a.see_all_revws {
  font-weight: bold;
  font-size: var(--text-md);
  text-transform: capitalize;
  color: var(--color-pink2);
  display: block;
}
.pt-30 {
  padding-top: 30px;
}
a.see_all_revws:hover {
  color: var(--color-dark);
}
a.see_all_revws span {
  font-size: var(--text-xs1);
}
.vendor_detl h6 {
  font-size: var(--text-md);
  color: var(--color-duskygrey);
  text-transform: uppercase;
  padding: 15px 15px 15px 40px;
  margin-bottom: 0px;
}
.vendor_detl_block {
  border: 1px solid var(--color-borderlight);
  max-width: 80%;
  margin-left: 20px;
}
.vendor_detl_list {
  border-bottom: 1px solid var(--color-borderlight);
}
.vendor_detl_list:last-child {
  border-bottom: none;
}
.vendor_detl_list li {
  display: inline-block;
  padding: 20px 0px;
  line-height: 22px;
}
.vendor_detl_list li:first-child {
  width: 250px;
  border-right: 1px solid var(--color-borderlight);
  padding-left: 20px;
}
.vendor_detl_list li:last-child {
  background-color: var(--color-nudish);
  padding-left: 20px;
  width: 100%;
}
.vendor_detl_list b {
  text-transform: capitalize;
}
.font_pink {
  color: var(--color-pink2);
}

/*-------------------------------end Product Details page------------------------------*/

/*------------------------------------Cart page---------------------------------*/
.product_head.sm_heading .heading_dash {
  width: calc(100% - 100px);
}
.cart_head {
  width: 100%;
  display: inline-block;
  padding: 20px 0px 5px;
}
.cart_item_section {
  width: 70%;
  background-color: var(--color-whitish);
  border: 1px solid var(--color-greywhite);
  padding: 10px 15px;
}
.cart_section {
  background-color: var(--color-light);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
  padding: 0px 13px;
}
.cart_item_area {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0px 15px;
  border-bottom: 1px dashed var(--color-borderlight);
}
.cart_item_area:last-child {
  border-bottom: none;
}
.cart_item_detl {
  align-items: flex-start;
  width: 60%;
  padding-right: 15px;
}
.item_imgno {
  width: 40px;
  margin-right: 6px;
}
.cart_item_no {
  display: inline-block;
  text-align: center;
  padding: 1px 4px;
  background-color: var(--color-pink2);
  color: var(--color-light);
  font-size: var(--text-sm);
  line-height: 18px;
  word-break: break-word;
}
.item_display img {
  min-width: 150px;
  max-width: 150px;
  min-height: 140px;
  max-width: 140px;
  object-fit: cover;
}
.cart_item_desc {
  padding: 0px 15px;
}
.cart_item_desc h5 {
  color: var(--color-dark);
  font-size: var(--text-xl);
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.cart_item_desc h5 a {
  color: var(--color-dark);
}
.cart_item_desc h5 a:hover {
  color: var(--color-pink2);
}
.grey_text {
  color: var(--color-grey) !important;
}
.cart_item_desc p {
  font-size: var(--text-sm);
  line-height: 18px;
  margin-bottom: 0px;
  word-break: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.grey_text a {
  color: var(--color-grey);
}
.grey_text a:hover {
  color: var(--color-pink2);
}
.item_display {
  width: 150px;
  margin-left: 5px;
}
.size_n_quantity {
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--color-dark);
  line-height: 18px;
  margin: 12px 0px;
}
.size_n_quantity span {
  margin-right: 8px;
  display: inline-block;
}
.size_n_quantity small {
  font-size: var(--text-sm);
  font-weight: 500;
}
.cart_item_desc .item_prc_block {
  font-size: var(--text-xl);
  color: var(--color-pink2);
}
.cart_item_desc .item_prc_block span {
  padding-left: 5px;
}
.off_percent {
  font-size: var(--text-xs);
  padding-left: 6px;
}
.activity_foritem {
  width: 100%;
  align-items: center;
  padding-left: 51px;
}
.item_remove {
  border: 1px solid var(--color-grey);
  display: inline-flex;
  width: 20px;
  height: 18px;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}
.item_remove i {
  color: var(--color-pink2);
  font-size: var(--text-tiny);
}
.rmv_or_move {
  padding-left: 35px;
}
.rmv_or_move button {
  margin-right: 15px;
  display: inline-block;
  background: none;
  border: none;
  font-weight: inherit;
  text-transform: inherit;
}
.rmv_or_move button:hover {
  color: var(--color-pink2);
}
.estimated_delivery {
  font-size: var(--text-sm);
  line-height: 20px;
  color: var(--color-dark);
  width: 40%;
  padding-right: 20px;
}
.estimated_delivery p {
  margin-bottom: 3px;
  text-align: right;
}
.estimated_delivery a {
  color: var(--color-pink2);
  float: right;
}
.estimated_delivery a:hover {
  color: var(--color-dark);
}
.cart_price_section {
  width: 30%;
  margin-left: 20px;
}
.price_detail {
  border: 1px solid var(--color-charcoalgrey);
}
.price_desc_block {
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-borderlight);
}
.price_desc_block h6 {
  font-size: var(--text-md);
  color: var(--color-pink2);
  text-transform: uppercase;
  margin: 0px;
}
.price_desc_block:first-child {
  border-bottom: 2px solid rgba(228, 12, 103, 0.5);
}
.price_desc_block:last-child {
  border-bottom: none;
}
.price_desc_block span {
  font-size: var(--text-md);
  color: var(--color-dusky);
}
.price_desc_block:nth-child(odd) {
  background-color: var(--color-light);
}
.price_desc_block:nth-child(even) {
  background-color: var(--color-themesky);
}
.price_desc_block.total_cart_amnt {
  background-color: var(--color-dark);
}
.price_desc_block.total_cart_amnt span {
  font-weight: bold;
  color: var(--color-light);
  font-size: var(--text-sm);
  text-transform: uppercase;
}
span.amnt_saved {
  font-weight: bold;
  color: var(--color-pink2);
  font-size: var(--text-sm);
}
.price_extra_info {
  margin: 0px auto;
  text-align: center;
}
.prc_seal {
  list-style: none;
}
.prc_seal li {
  margin-right: 2px;
  display: inline-block;
}
.prc_seal li:last-child {
  margin-right: 0px;
}
.prc_seal li img {
  max-width: 70px;
  min-width: 65px;
}
.cart_prc_block .pay_mode {
  justify-content: center;
  margin: 10px 0px 20px;
}
.cart_prc_block p {
  font-size: var(--text-xs1);
  font-weight: bold;
  line-height: 20px;
  color: var(--color-charcoalgrey);
  margin-bottom: 2px;
}
/*--------------------------------------------end Cart page----------------------------------*/

/*-------------------------------------------Checkout page----------------------------------*/

.checkout_head {
  font-size: var(--text-md);
  font-weight: bold;
  color: var(--color-dark);
  padding: 15px 0px 15px 20px;
  text-transform: capitalize;
}
.checkout_item_area {
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid var(--color-grey);
}
.checkout_item_area .item_imgno {
  width: 26px;
}
.checkout_item_area .cart_item_no {
  padding: 0px;
  background: none;
  color: var(--color-dark);
}
.checkout_item_area .item_display {
  width: 70px;
}
.checkout_item_area .item_display img {
  min-width: 70px;
  max-width: 70px;
  min-height: 65px;
  max-height: 65px;
}
.checkout_item_area .cart_item_desc h5 {
  font-size: var(--text-sm);
  line-height: 17px;
  margin-bottom: 7px;
}
.checkout_item_area .cart_item_desc {
  align-self: center;
}
.checkout_item_area .size_n_quantity {
  margin: 0px;
}
.checkout_item_area .cart_item_detl {
  padding-left: 20px;
  width: 50%;
}
.item_checkout_detl {
  width: calc(100% - 50%);
}
.item_checkout_detl .cart_item_desc {
  width: 40%;
}
.item_checkout_detl .estimated_delivery {
  width: 60%;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
*/ .item_prc_block.for_checkout {
  font-size: var(--text-sm);
}
button.checkout_remove_item {
  background: none;
  border: none;
  padding: 0px;
  color: var(--color-wheatish);
  float: right;
  font-weight: 400;
  text-transform: capitalize;
}
button.checkout_remove_item i {
  margin-right: 8px;
}
button.checkout_remove_item:hover {
  color: var(--color-pink2);
}
.address_head_block {
  background: var(--color-whitish);
  padding: 12px 20px;
  border: 1px solid var(--color-greywhite);
  margin-top: 15px;
  font-size: var(--text-mxl);
  font-weight: bold;
  color: var(--color-pink2);
}
.u_address_block {
  width: 50%;
  padding: 0px 0px 20px 20px;
  border-right: 1px solid var(--color-charcoalgrey);
  position: relative;
}
.u_address_block:before {
  content: "";
  height: 25px;
  width: 18px;
  background-image: url(./assets/images/product/map_outline.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-light);
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -9px;
  z-index: 9;
}
.address_txt {
  max-width: 70%;
  font-weight: bold;
  font-size: var(--text-sm);
  line-height: 28px;
}
.address_txt p {
  color: var(--color-dark);
  margin-bottom: 2px;
}
.address_txt p span {
  display: block;
  text-transform: uppercase;
}
.address_txt p b {
  color: var(--color-pink2);
}
.u_contact {
  color: var(--color-duskygrey);
}
button.btn_address_edit {
  background: var(--color-light);
  border: 1px solid var(--color-greyfont);
  outline: none;
  padding: 12px 0px;
  width: 49%;
  margin-right: 8px;
  font-size: var(--text-sm);
  color: var(--color-greyfont);
  line-height: normal;
}
.adress_btn_block {
  margin: 10px 0px;
}
button.btn_address_edit:hover {
  background: var(--color-dark);
  border: 1px solid transparent;
  color: var(--color-light);
}
.no_border {
  border: none !important;
}
.u_address_block.shipping_adrs {
  padding-left: 60px;
}
.u_address_block.shipping_adrs:before {
  display: none;
}
button.add_more_adrs {
  background: none;
  border: none;
  padding: 0px;
  font-size: var(--text-sm);
  color: var(--color-pink2);
}
button.add_more_adrs:hover {
  color: var(--color-dark);
}
.cart_section.for_bottom {
  padding: 15px 20px;
  margin: 15px 0px;
}
.estimatetime {
  width: 60%;
}
.estimatetime .estimated_delivery {
  width: 100%;
  text-align: right;
}
.estimatetime table {
  width: 100%;
}
.estimatetime .delivery_dt {
  float: none;
}
.checkout_rmvbtn {
  padding-top: 5px !important;
}
.checkout_stip_wrap .order_item_display .cart_item_desc {
  vertical-align: middle;
}
/*-------------------------------------------end Checkout page----------------------------------*/

/*-------------------------------My order page------------------------------*/
.wishlist_inner_box.myorderbox {
  padding-top: 15px;
}
.checkout_item_area.myorders {
  padding: 15px 0px;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkout_item_area.myorders .cart_item_desc {
  align-self: flex-start;
}
.ind_ordered {
  display: inline-block;
  height: 9px;
  width: 9px;
  border-radius: 100%;
  background: var(--color-yellow);
  margin-right: 10px;
  vertical-align: middle;
}
.ind_ordered.cancelled {
  background: var(--color-red);
}
.ind_ordered.delivered {
  background: var(--color-fontgreen);
}
.ind_return {
  margin-top: 6px;
  width: 100%;
  display: inline-block;
}
.ind_return_id {
  color: var(--color-fontgreen);
}
.dlvry_note {
  margin: 5px 0px !important;
  color: var(--color-wheatish);
}
a.rate_rcvd_item {
  float: right;
  align-items: center;
}
a.rate_rcvd_item i {
  font-size: var(--text-tiny);
  margin-right: 10px;
}
.delivery_dt {
  width: calc(100% - 19px);
  float: right;
}

.order_page_table {
  border-bottom: 1px solid var(--color-grey);
  margin: 15px 0px 0px;
  table-layout: fixed;
}
.order_page_table tbody {
  vertical-align: top;
}
.order_item_display {
  padding: 0px 0px 15px 20px !important;
  max-width: 50%;
  width: 50%;
  word-break: break-word;
}
.order_item_display tbody td {
  padding: 0px;
}
.order_item_display .item_display img {
  min-width: 70px;
  max-width: 70px;
  min-height: 65px;
  max-height: 65px;
}
td.cart_item_desc {
  padding: 0px 2px !important;
}
.order_item_display .cart_item_desc h5 {
  font-size: var(--text-sm);
  line-height: 17px;
  margin-bottom: 7px;
}
.order_item_display .cart_item_no {
  padding: 0px;
  background: none;
  color: var(--color-dark);
}
.order_item_display .item_imgno {
  width: 26px !important;
  padding: 0px;
}

.order_item_desc .item_prc_block {
  padding: 10px 0px;
}
.size_n_quantity tbody td {
  padding: 0px 8px 0px 0px;
}
.order_item_brief {
  max-width: 50%;
  padding: 0px 0px 15px 0px !important;
}
.order_item_brief table {
  width: 100%;
}
.order_item_brief .order_item_desc {
  width: 25%;
  word-break: break-word;
  padding: 0px;
}
.order_item_desc .size_n_quantity {
  padding: 0px;
}
.order_item_brief .estimated_delivery {
  width: calc(100% - 40%);
  padding: 0px 15px 0px 0px;
  text-align: right;
  word-break: break-word;
}
.order_item_brief .delivery_dt {
  float: none;
}
td.ind_ordered {
  padding: 0px !important;
  margin-right: 0px;
  vertical-align: middle;
}
td.ind_ordered span {
  display: inline-block;
  height: 9px;
  width: 9px;
  border-radius: 100%;
  background: var(--color-yellow);
  margin-right: 10px;
  vertical-align: middle;
}
.order_item_desc_brf td {
  padding: 0px 13px !important;
}
td.dlvry_note {
  padding: 5px 0px;
}
td.ind_return {
  width: 100%;
  max-width: 100%;
  display: block;
}
.cart_item_desc .ind_return p {
  display: block;
}
.ind_return.gap {
  padding-top: 7px !important;
}
/*-------------------------------end My order page------------------------------*/

/*---------------------------------Wishlist page---------------------------*/
.wishlist_inner_box {
  background-color: var(--color-light);
  padding: 0px 22px 25px;
  box-shadow: 0px 0px 25px #e8e8e8;
}
.wishlist_inner_box .pagination_block {
  justify-content: flex-end;
  margin-top: 15px;
}
.seller_nm {
  margin-top: 7px;
}
.checkout_item_area.wishlists {
  padding: 30px 0px;
}
.wishlist_item_list .order_page_table {
  margin-top: 30px;
  table-layout: inherit;
}
.wishlist_item_list .order_item_display {
  padding: 0px 0px 26px 20px !important;
}
/*.wishlist_item_list .order_item_brief{padding-bottom: 30px !important;}*/
td.buy_wished_item {
  padding: 0px !important;
  width: calc(100% - 40%);
  vertical-align: middle;
}
td.buy_wished_item table {
  width: inherit;
  float: right;
}
td.buy_wished_item button.cart_btn {
  width: 120px;
  margin-left: 10px;
}
td.buy_wished_item button.cart_btn:last-child {
  margin-left: 0px;
}
/*---------------------------------end Wishlist page---------------------------*/

/*-------------------------Return page---------------------------*/
.heading_dash.return_headingdash {
  width: calc(100% - 145px);
}
.order_sidebar .profile_side_menu_list {
  height: auto;
  margin-bottom: 13px;
  padding-bottom: 0px;
}
.order_sidebar .profile_side_menu_list:last-child {
  margin-bottom: 0px;
}
.view_retunpolicy {
  background: var(--color-whitish);
  padding: 5px 15px;
  border: 1px solid var(--color-greywhite);
  font-size: var(--text-md);
  font-weight: bold;
  text-align: right;
}
a.goto_ret_policy {
  text-transform: capitalize;
}
a.goto_ret_policy:hover {
  color: var(--color-dark);
}
.return_q {
  font-size: var(--text-sm);
  color: var(--color-dark);
}
/*.checkout_item_area.myorders .estimated_delivery{padding-right: 15px; width: 62%;}*/
.choose_option {
  font-size: var(--text-sm);
  margin-bottom: 0px;
}
.return_reason_frm {
  font-size: var(--text-sm);
}
.return_reason_frm h6 {
  font-size: var(--text-md);
  margin-bottom: 18px;
}
.filter_label.return_label .checkmark {
  background: var(--color-whitish);
  top: 3px;
  border-radius: 0px;
}
.filter_label.return_label {
  padding-left: 35px;
  margin-bottom: 8px;
}
textarea.return_reason {
  height: 65px;
  width: 100%;
  margin: 20px 0px;
  resize: none;
  outline: none;
  border: none;
  background: var(--color-light);
  color: var(--color-greyfont);
  border-bottom: 1px solid var(--color-greywhite);
}
textarea.return_reason:focus {
  border-bottom: 1px solid rgba(227, 8, 100, 0.4);
}
.height_auto {
  height: auto !important;
}
.review_outline_wrap.return_ouline .cart_section {
  padding: 12px 13px;
}
.review_outline_wrap.return_ouline .cart_section.for_bottom {
  margin: 15px 0px 0px;
}
.return_detl {
  font-size: var(--text-md);
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
button.pickup_detl {
  width: 280px;
  padding: 8px 12px;
  color: var(--color-wheatish);
  text-align: right;
}
button.pickup_detl span {
  float: left;
  text-transform: capitalize;
}
.order_sidebar .profile_side_menu_list.last_menu .profile_sub_menu {
  height: 100%;
}

button.pickup_detl.enable_pickup {
  background: var(--color-pink2);
  border: 1px solid transparent;
  color: var(--color-light);
}
button.pickup_detl.enable_pickup:hover {
  background: var(--color-dark);
}

/*-------------------------end Return page---------------------------*/

/*--------------------------------------------Review Submit page--------------------------------------*/
.revw_head {
  width: 100%;
  display: inline-block;
  margin-top: 15px;
}
.revw_head .heading_dash {
  width: calc(100% - 180px);
}
.review_row {
  margin-bottom: 10px;
}
.review_left_bar {
  width: 280px;
  padding: 0px 15px;
}
.review_left_bar .profile_side_menu_list {
  margin-bottom: 0px;
  padding-bottom: 14px;
  height: 100%;
}
.review_right_block {
  width: calc(100% - 280px);
  padding-right: 15px;
}
.review_outline_wrap {
  background-color: var(--color-whitish);
  border: 1px solid var(--color-greywhite);
  padding: 15px;
  height: 100%;
}
.review_outline_wrap .cart_section {
  padding: 12px 13px 50px;
  height: 100%;
}
.review_outline_wrap .address_head_block {
  margin-top: 0px;
  justify-content: space-between;
}
.revw_sugg_head {
  padding: 13px 20px;
  border-bottom: 2px solid rgba(228, 12, 103, 0.5);
  font-size: var(--text-sm);
  color: var(--color-pink2);
  font-weight: bold;
}
.review_sugg {
  font-size: var(--text-sm);
  line-height: 26px;
  color: var(--color-dark);
  font-weight: bold;
  padding: 25px 0px 22px;
  margin: 0px 20px;
  border-bottom: 1px solid rgba(228, 12, 103, 0.2);
}
.review_sugg span {
  display: block;
  color: var(--color-charcoalgrey);
  font-weight: 400;
}
.rate_item h6 {
  font-size: var(--text-lg);
  color: var(--color-dark);
  margin-bottom: 12px;
}
.rating_count {
  font-size: var(--text-md);
  font-weight: 900;
  color: var(--color-dark);
  line-height: 20px;
  text-transform: capitalize;
  text-align: right;
}
.rating_count span {
  font-size: var(--text-mxl);
  color: var(--color-pink2);
  display: block;
  margin-top: 10px;
}
.write_revw {
  padding: 0px 20px;
}
.write_revw .rate_item {
  padding: 20px 0px;
}
.writerevw_form {
}
.writerevw_form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 6px;
  resize: none;
  height: 110px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-charcoal);
  font-size: var(--text-sm);
  line-height: 18px;
  color: var(--color-greyfont);
}
.writerevw_form textarea:focus {
  border-bottom: 1px solid rgba(227, 8, 100, 0.4);
}
textarea.for_revw_title {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
button.submit_revw {
  width: 150px;
}
.give_item_rating {
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 30px;
  font-size: var(--text-5xl);
}

.give_item_rating label {
  margin-bottom: 0px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.give_item_rating label:last-child {
  position: static;
}

.give_item_rating label:nth-child(1) {
  z-index: 5;
}

.give_item_rating label:nth-child(2) {
  z-index: 4;
}

.give_item_rating label:nth-child(3) {
  z-index: 3;
}

.give_item_rating label:nth-child(4) {
  z-index: 2;
}

.give_item_rating label:nth-child(5) {
  z-index: 1;
}

.give_item_rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.give_item_rating label .icon {
  float: left;
  color: transparent;
}

.give_item_rating label:last-child .icon {
  color: var(--color-wheatish);
}

.give_item_rating:not(:hover) label input:checked ~ .icon,
.give_item_rating:hover label:hover input ~ .icon {
  color: var(--color-rating);
}

.give_item_rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}
.ordereditem_block.rvw_productstrip {
  width: 100%;
  max-width: 100%;
  background: var(--color-light);
  border: 1px solid var(--color-pink2);
  margin: 10px 0px 20px;
}
/*--------------------------------------------end Review Submit page--------------------------------------*/

/*-------------------------------------Payment page---------------------------------*/
.revw_head.diff .heading_dash {
  width: calc(100% - 150px);
}
.payment_option_block {
  border-top: 1px solid #bab8b8;
  padding: 16px 6px 16px 15px;
  background: var(--color-light);
}
.paywith_label {
  display: inline-flex;
  align-items: center;
  font-size: var(--text-sm);
  line-height: 18px;
  color: var(--color-dark);
  padding-left: 38px;
  position: relative;
  cursor: pointer;
  margin-bottom: 0px;
}
.paywith_label span {
  display: inline-block;
  text-align: left;
  width: 45px;
}
.pay_tag {
  width: calc(100% - 45px);
  float: right;
}
.pay_deal {
  font-size: var(--text-sm);
  font-weight: 400;
  line-height: 18px;
  padding-left: 88px;
  margin: 10px 0px 0px;
}
.pay_logoicon {
  max-width: 30px;
  max-height: 21px;
  min-height: 21px;
  margin-right: 20px;
}
.paywith_label .pay_radio_btn {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.paywith_label .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 13px;
  width: 13px;
  background: none;
  border: 2px solid var(--color-charcoal);
  border-radius: 50%;
}
.pay_radio_btn:checked ~ .checkmark {
  border: 2px solid var(--color-pink2);
}
.pay_radio_btn:checked ~ .checkmark:after {
  display: block;
}
.paywith_label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--color-pink2);
  top: calc(50% - 2.5px);
  left: calc(50% - 2.5px);
}
.payment_option_block.pay_block_selected {
  background: var(--color-nudish);
}
.pay_block_open {
  padding: 0px 12px 8px 0px;
}
.pay_block_left {
  padding-left: 88px;
}
.paywith_label.sublabel {
  padding-left: 28px;
}
.paywith_label.sublabel .checkmark {
  top: 2px;
}
.sublabel_block {
  margin-top: 9px;
}
.sublabel_block .pay_deal {
  padding-left: 38px;
}
.cvv_block {
  align-self: flex-end;
}
.fill_cvv_block {
}
.cvv_group {
  width: 240px;
  position: relative;
  padding: 10px 20px;
  background: var(--color-light);
  border: 1px solid #cdcdcd;
  border-right: none;
}
.cvv_group:before {
  content: "";
  height: 18px;
  width: 11px;
  background: url(./assets/images/loader/cvv_curve1.png) no-repeat center left;
  position: absolute;
  left: -11px;
  top: 50%;
  margin-top: -9px;
}
.cvv_group .form_input {
  height: 28px;
  line-height: 28px;
  padding: 0px 12px;
  border-bottom: 1px solid var(--color-dark);
}
.cvv_group i {
  font-size: var(--text-tiny);
  color: var(--color-pink2);
  position: absolute;
  right: 36px;
  bottom: 18px;
}
.cvv_group svg {
  height: 18px;
  width: 18px;
  position: absolute;
  right: 22px;
  bottom: 17px;
}
.cvv_group svg g {
  fill: var(--color-jetblack);
}
.cvv_group .form_input:focus {
  border-bottom: 1px solid rgba(227, 8, 100, 0.4);
}
button.signup_btn.cvv_continue {
  width: 110px;
  margin: 0px;
  font-size: var(--text-xs);
}

/*-------------------------------------end Payment page---------------------------------*/

/*--------------------------------Saved Cards page------------------------------*/
.profile_innerbox.savedcards_area {
  height: calc(100% - 70px);
}
button.signup_btn.add_card {
  width: 230px;
  margin: 30px 15px 15px;
}
/*--------------------------------end Saved Cards page------------------------------*/

/*---------------------------------------Saved Address page------------------------------------------------*/
.user_address_block {
}
.profile_side_menu_list:last-child {
  margin-bottom: 0px;
}
.user_address_block {
  background: var(--color-nudish);
  margin: 0px 18px 5px;
}
.wishlist_inner_box.user_address_body {
  padding-top: 30px;
  height: calc(100% - 70px);
}
.addres_header {
  background: var(--color-dark);
  padding: 13px 30px;
  color: var(--color-light);
  justify-content: space-between;
  align-items: center;
}
.address_for {
  font-size: var(--text-sm);
  font-weight: bold;
  text-transform: uppercase;
}
button.edit_address {
  font-size: var(--text-xs1);
  color: var(--color-light);
  background: none;
  border: none;
  padding: 0;
  margin-left: 20px;
}
button.edit_address span {
  display: inline-block;
  padding-left: 13px;
}
button.edit_address svg {
  max-height: 15px;
  width: auto;
}
button.edit_address svg g {
  fill: var(--color-light);
}
button.edit_address:hover {
  color: var(--color-pink2);
}
button.edit_address:hover svg g {
  fill: var(--color-pink2);
}
.address_block {
  width: 100%;
  display: inline-block;
  padding: 20px 30px 30px;
  font-size: var(--text-sm);
  color: var(--color-duskygrey) !important;
  border: 1px solid var(--color-lighter);
  border-top: none;
}
.address_block h6 {
  text-transform: uppercase;
  font-size: var(--text-sm);
  margin-bottom: 15px;
}
.addr_text {
  justify-content: space-between;
}
.addr_phno {
  color: var(--color-greyfont);
  line-height: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.addr_phno svg {
  max-width: 15px;
  height: auto;
  margin-right: 8px;
}
.addr_phno b {
  text-transform: uppercase;
}
.addr_phno b span {
  display: inline-block;
}
.ph_content {
  float: right;
}
button.signup_btn.add_adrs {
  width: 230px;
  margin-left: 18px;
}
/*---------------------------------------end Saved Address page------------------------------------------------*/

/*---------------------------------------Edit Address page-----------------------------------------------------*/
.address_input {
  background: var(--color-nudish);
  border-bottom: 1px solid var(--color-lighter);
  height: 40px;
  line-height: 40px;
  margin-bottom: 15px;
  padding: 0px 12px;
  font-size: var(--text-sm);
  color: var(--color-duskygrey);
}
.addressedit_form .input_group {
  margin-bottom: 0px;
}
.addressedit_form .input_label {
  padding-left: 12px;
}
.addressedit_form select {
  padding-left: 20px !important;
  background: var(--color-nudish);
}
.form_input.state_select {
  padding-left: 12px !important;
}
/*---------------------------------------end Edit Address page-----------------------------------------------------*/

/*-------------------------------------Coupons page--------------------------------------*/
.user_coupon_block {
  border: 1px solid var(--color-lighter);
  margin: 0px 15px 20px 4px;
}
.aboutthecoupon {
  border-bottom: 1px solid var(--color-lighter);
  align-items: center;
}
.coupon_discount {
  border-right: 1px solid var(--color-lighter);
  padding: 20px 50px;
  font-size: var(--text-4xl);
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}
.percent_img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -14px;
}
.percent_img img {
  max-width: 28px;
  display: inline-block;
}
.coupon_discount span {
  display: block;
}
.coupon_code {
  font-size: var(--text-md);
  line-height: 22px;
  color: var(--color-greyfont);
  margin-left: 35px;
}
.coupon_code p {
  margin: 8px 0px 0px;
}
.couponexpiry {
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px 12px 35px;
}
.couponexpiry b {
  font-size: var(--text-md);
  line-height: 22px;
  color: var(--color-greyfont);
}
button.coupon_detl {
  font-size: var(--text-sm);
  background: none;
  border: none;
  padding: 0px;
  min-width: 80px;
}
button.coupon_detl i {
  margin-left: 8px;
}
button.coupon_detl:hover {
  color: var(--color-dark) !important;
}
/*-------------------------------------end Coupons page--------------------------------------*/

/*------------------------------Forgot Password page------------------------------*/
.text_pink {
  color: var(--color-pink2) !important;
}
.agreewithpolicies {
  margin: 40px 0px 15px;
  line-height: 24px;
}
.agreewithpolicies a:hover {
  text-decoration: underline;
  color: var(--color-dark);
}
button.resend_otp_btn {
  font-size: var(--text-sm);
  font-weight: 400;
  color: var(--color-green);
  border: none;
  background: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 0px;
  text-transform: inherit;
}
button.resend_otp_btn:hover {
  text-decoration: underline;
}

/*------------------------------end Forgot Password page------------------------------*/

/*----------------------------Loader page---------------------------------*/
.loader_wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background: var(--color-light);
}
.loader_round {
  background: var(--color-pink2);
  border-radius: 100%;
  animation: zoominanimation 2s infinite;
}
.loader_round,
.loader_spin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.loader_img {
  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
  border-radius: 100%;
}
@keyframes zoominanimation {
  0% {
    height: 0;
    width: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    height: 300rem;
    width: 300rem;
    opacity: 0;
  }
}

/*----------------------------end Loader page---------------------------------*/

/*-----------------------Order Success page---------------------------*/
.rvw_success_inner {
  text-align: center;
}
.thankyouimg {
  margin-bottom: 20px;
}
.thankyouimg img {
  max-width: 160px;
}
.thankyou_greet {
  font-family: var(--font-family-monotype);
  font-size: var(--text-mid);
  text-transform: uppercase;
  line-height: 32px;
  margin-bottom: 10px;
}
.orderno {
  font-size: var(--text-md);
  line-height: 24px;
}
.ordereditem_block {
  background: var(--color-bglight);
  padding: 10px 25px 10px 12px;
  max-width: 75%;
  margin: 15px auto 0px;
}
.ordereditem_block .checkout_item_area {
  padding: 0px;
  border: 0;
  justify-content: space-between;
}
.width_inherit {
  width: inherit !important;
}
.rvw_success_inner button {
  margin-top: 30px;
  margin-bottom: 0px;
}
.ordereditem_block .cart_item_detl {
  text-align: left;
  padding: 0px;
}

/*-----------------------end Order Success modal---------------------------*/

/*-----------------------Order Success modal---------------------------*/
.body_overlay {
  position: relative;
}
.body_overlay:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.9);
}
.ordersuccess_block {
  min-width: 630px;
  max-width: 630px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999999;
  transform: translate(-50%, -50%);
  background: var(--color-light);
  text-align: center;
}
.order_modal_head {
  background: var(--color-bglightgrey);
  padding: 7px 0px;
  font-size: var(--text-lg);
  color: var(--color-dark);
  font-family: var(--font-family-monotype);
  text-transform: uppercase;
  border-top: 6px solid var(--color-pink2);
}
.ordersuccess_modal {
  padding: 60px 0px 80px;
  max-width: 80%;
  margin: 0px auto;
}
.thankyou_greet b span {
  display: block;
}
.ordersuccess_modal button.signup_btn.add_adrs {
  width: 230px;
  margin-left: 0px;
}
.green_cart_img {
  max-width: 10%;
  margin: 0px auto 20px;
}
.close_ordr_success {
  background: var(--color-light);
  height: 26px;
  width: 26px;
  border-radius: 100%;
  line-height: 26px;
  text-align: center;
  font-size: var(--text-tiny);
  color: var(--color-dark);
  font-family: var(--font-family-monotype);
  border: none;
  padding: 0px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: -13px;
  right: -13px;
}

/*-----------------------end Order Success modal-----------------------------*/

/*----------------------------------Invoice page--------------------------------*/
button.signup_btn.invoice_dwn {
  font-size: var(--text-md);
  margin: 0px;
  padding: 15px 25px;
}
.invoice_body {
  font-size: var(--text-md);
  line-height: 18px;
  color: var(--color-greyfont);
}
.invoice_head {
  line-height: 22px;
  border-bottom: 2px solid var(--color-borderdark);
  padding: 0px 0px 25px 15px;
}
.invoice_seller p {
  margin-bottom: 0px;
}
.invoice_seller {
  width: 50%;
  word-break: break-word;
}
.invcno {
  width: 50%;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 15px;
}
.invcno_block {
  border: 1px solid #9e9e9e;
  padding: 6px 15px;
}
.invoice_head.for_billing {
  padding: 10px 15px;
  border-bottom: none;
}
.dark_hr_line {
  width: 100%;
  height: 5px;
  background: var(--color-dark);
  border-radius: 20px;
}
.invc_ord_detl {
  width: 35%;
  border-right: 1px solid var(--color-borderdark);
}
.invc_ord_detl b {
  display: block;
  line-height: 30px;
  word-break: break-word;
}
.invc_billing {
  max-width: 65%;
  margin-left: 40px;
  line-height: 28px;
}
.invc_billing h4 {
  font-size: var(--text-xl);
  font-weight: bold;
  margin-bottom: 3px;
}
.invc_billing p {
  margin-bottom: 0px;
}
.invc_item_detl {
  margin-top: 8px;
  font-size: var(--text-sm);
}
.invc_info_head {
  background: var(--color-bgnude);
  padding: 10px 20px;
  border: 1px solid #9e9e9e;
  display: flex;
}
.invc_info_head span {
  /*width: 70px;*/
  margin: 0px 5px;
  word-break: break-word;
  display: inline-block;
  text-align: center;
}
.invc_wide_info_head {
  width: 34%;
  display: flex;
}
.invc_info_head .wide_heading {
  width: calc(100% / 2);
  text-align: left;
}
.invc_info_head span p {
  margin-bottom: 0px;
  line-height: 26px;
}

.invc_info_innerhd {
  display: block;
  line-height: 26px;
}
.invc_info_head.invc_info_body {
  background: var(--color-light);
  border: none;
  margin-bottom: 12px;
  font-family: var(--font-family-serif);
}
.invc_info_head.g_total {
  font-family: var(--font-family-serif);
  padding: 20px;
}
.profont {
  font-family: var(--font-family-pro);
}
.grand_total {
  font-family: var(--font-family-serif);
  font-size: var(--text-2xl);
  line-height: 30px;
  text-align: right;
  margin: 15px 0px 35px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--color-borderdark);
}
.grand_total p {
  font-size: var(--text-md);
  margin: 8px 0px 0px;
  line-height: 20px;
  font-weight: 500;
}
.invc_logo {
  margin: 30px 0px 20px;
}
.invc_logo img {
  max-width: 220px;
}
.invc_return {
  line-height: 30px;
  padding: 0px 20px;
}

.invc_brf_info_head {
  display: flex;
  width: calc(100% - 34%);
}
.invc_brf_info_head span {
  width: calc(100% / 7);
}
.invc_brf_info_head span small {
  font-size: var(--text-sm);
  display: inline-block;
}
.invc_brf_info_head span b {
  display: inline-block;
  padding-left: 4px;
}
.invc_brf_info_head span:last-child {
  margin-right: 0px;
}
.invc_info_head.g_total .widest_heading {
  text-align: right;
  width: 100%;
}

.invc_item_detl table thead {
  display: inherit;
}
.invc_item_detl table thead,
.invc_item_detl table tbody {
  width: 100%;
}
.invc_item_detl table th,
.invc_item_detl table td,
.invc_item_detl table tfoot td {
  width: 92px;
  vertical-align: top;
  padding: 10px 8px;
  text-align: center;
  font-weight: 400;
  word-break: break-word;
  color: var(--color-greyfont);
}
.invc_item_detl table th:first-child,
.invc_item_detl table td:first-child {
  padding-left: 20px;
}
.invc_item_detl table th:last-child,
.invc_item_detl table td:last-child,
.invc_item_detl table tfoot td:last-child {
  padding-right: 20px;
}
.invc_item_detl table thead .wide_heading,
.invc_item_detl table tbody .wide_heading {
  width: 19%;
}
.invc_item_detl table tbody {
  padding: 0px;
}
.invc_item_detl table tbody tr {
  width: 100%;
}
.invc_item_detl table tbody td p {
  margin-bottom: 0px;
  line-height: 26px;
}
.invc_item_detl table tfoot {
  padding: 0px;
  display: inherit;
  width: 100%;
}
.invc_item_detl table tfoot tr {
  width: 100%;
}
.invc_item_detl table tfoot td {
  padding: 20px 8px;
}
.invc_item_detl table tfoot .widest_heading {
  width: 38%;
  text-align: right;
}

/*----------------------------------end Invoice page--------------------------------*/

/*-------------------------------------404 page---------------------------------*/
.page_404_wrap {
  margin-top: 49px;
}
.page_404_outline {
  margin-bottom: 25px;
}
.overflowhide {
  overflow: hidden;
}
.inner_404 {
  padding: 40px 0px 20px;
  text-align: center;
}
.notfound_icon {
  margin-bottom: 15px;
}
.inner_404 span {
  font-size: var(--text-mxl);
  display: inline-block;
}
.text_404 {
  font-size: var(--text-big);
  color: var(--color-dark);
  margin-bottom: 13px;
}
.notfound {
  font-size: var(--text-6xl);
  color: var(--color-wheatish);
}
.inner_404 p {
  font-size: var(--text-sm);
  line-height: 26px;
  color: var(--color);
  margin: 25px auto 5px;
  max-width: 470px;
}
.inner_404 p a:hover {
  text-decoration: underline;
}
/*-------------------------------------end 404 page---------------------------------*/

@media only screen and (min-width: 1300px) and (max-width: 1500px) {
  .container {
    max-width: 1230px;
  }
}

@media only screen and (min-width: 1501px) and (max-width: 1800px) {
  .container {
    max-width: 1430px;
  }
}
@media only screen and (min-width: 1801px) and (max-width: 5000px) {
  .container {
    max-width: 1730px;
  }
}

@media (max-width: 1199px) {
  .signup_block {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .signup_block {
    width: 90%;
  }
}

@media (max-width: 991px) {
  .hideonmobile {
    display: none;
  }
  .displayonmobile {
    display: block;
  }
}

@media (max-width: 767px) {
  /*--------------------------home page-----------------------------*/
  .header_top_inner {
    flex-direction: column;
    align-items: center;
    font-size: var(--text-tiny);
    padding: 3px 0px;
  }
  .header_top_inner p {
    text-align: center;
  }
  a.gift_top {
    margin-top: 5px;
  }

  .header_mid {
    padding-bottom: 0px;
  }
  .left_logo_area {
    width: 40%;
  }
  .open_acnt {
    display: none;
  }
  .header_search {
    display: none;
  }
  .mobile_searchbar_block {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  .mobile_searchbar_block .header_search {
    display: block;
    float: right;
    margin: 0px;
    border: 1px solid var(--color-dark);
  }
  .head_search_input {
    height: 33px;
    line-height: 33px;
  }
  button.head_search_btn img {
    max-height: 14px;
  }
  #navbar_area.fixed {
    display: none;
  }
  #navbar_area {
    transform: translateX(-100%);
  }
  .menu_bar {
    float: left;
    margin-right: 20px;
  }
  #navbar_area.show_menu {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    width: 70%;
    transform: translateX(0);
    transition: all ease-in-out 0.5s;
    background-color: var(--color-light);
  }
  #navbar_area.remove_menu {
    transform: translateX(-100%);
    transition: all ease-in-out 0.5s;
  }
  .menu_text a {
    color: var(--color-dark);
  }
  .menu_list_area {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu_list_area li {
    padding-left: 15px;
  }
  .nav_bar_area {
    padding: 12px 0px;
  }
  body.body_overlay {
    position: relative;
  }
  body.body_overlay:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .dropdown_inner {
    width: 100%;
  }
  .mobile_menu_head {
    display: inline-block;
    float: right;
  }
  .close_menu svg {
    width: 14px;
    height: auto;
  }
  .close_menu svg g {
    fill: var(--color-pink2);
  }

  /*--------------------------End home page-----------------------------*/

  /*--------------------registration and login page--------------------------*/
  .register_area {
    margin-top: 0px;
  }
  .signup_block {
    width: 100%;
  }
  .signup_area {
    border: none;
  }
  .signup_area .d-flex {
    flex-direction: column;
  }
  .signup_form_area {
    width: 100%;
  }
  .signup_img_box {
    width: 100%;
    display: none;
  }
  .phone_input_area.d-flex {
    flex-direction: row;
  }
  .form_signup {
    width: 90%;
  }
  .signup_heading {
    font-size: var(--text-lg);
    margin: 20px 0px;
  }
  /*---------------------------End registration and login page-----------------------*/

  /*------------------------profile page---------------------------*/
  .profile_left_area {
    display: none;
  }
  .profile_right_area {
    width: 100%;
  }

  /*--------------------------------End profile page------------------------*/

  .ordereditem_block {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
}
